#backfeatures {
	background-image: url("../img/laptop-features.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0px auto;
	height: 600px;
}

.titu3 {
	margin-top: 10%;
}

.pa4 {
	margin-bottom: 10%;
}

.img-ico {
	margin-top: 70%;
	margin-left: 70%;
}